@charset "UTF-8";

/* Main Body */
body{
  font-family: Ariel, Helverica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #171717;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header{
  background: #121212;
  color: #009191;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #4E4E4E 3px solid;
}

header #branding{
  float: none;
}

header #branding img{
  margin: 0;
  width: 100%;
  height: auto;
}

/* Header lists */
header ul{
  margin: 0;
  padding: 0;
}

header a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: left;
  margin-top: 15px;
}

header .NonClickable{
  cursor: pointer;
}

header a:hover{
  color: #AAAAAA;
}

header nav ul li .ProjectsDropdown{
  display: none;
  position: absolute;
  background-color: #505050;
  padding: 5px;
  width: 250px;
  border-radius: 0px 0px 10px 10px;
}

header nav ul li:hover .ProjectsDropdown{
  display: block;
}

header nav ul li .ProjectsDropdown li{
  padding: 8px 14px;
}

header nav ul li .ProjectsDropdown li a{
  padding: 8px 14px;
  color: #FFFFFF;
}

header nav ul li .ProjectsDropdown li a:hover{
  background-color: #757575;
}
